body{
    font-family: fantasy;
}

div.menubar img{
    background-color: #f3f3f3;
    width: 2em; 
    height: 2em;
}

div.menubar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: #f3f3f3;
    width: 100%;
}

div.menubar li {
    float: left;
    text-align: center;
    font-size: 3em;
}

div.menubar a {
    display: block;
    color: #666;;
    text-align: center;
    padding: 18px 30px;
    text-decoration: none;
}

div.menubar a:hover:not(.active) {
    background-color: #ddd;
}